@import url("https://fonts.googleapis.com/css2?family=Orbitron:wght@500;600;700;800;900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap");

@import url('https://fonts.googleapis.com/css2?family=Young+Serif&display=swap');
 @font-face {
  font-family: transformer;
  src: url(../transformers_movie/Transformers\ Movie.ttf);
 }
@font-face {
  font-family: nuku;
  src: url("../nuku-nuku/nuku1.ttf");
}
@font-face {
  font-family: fighting;
  src: url(../fighting_spirit_tbs/Fighting\ Spirit\ 2\ ital.otf);
}

@keyframes glowYellow {
  from {
    text-shadow: 0 0 10px rgb(226, 240, 31);
    text-shadow: 0 0 30px rgb(226, 240, 31);
  }
  to {
    text-shadow: 0 0 20px rgb(226, 240, 31);
  }
}

