.preloader{
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: black;
  
    z-index: 999;
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: visible;
  }
  .preloader img{
    max-width: 250px;
  }
  .hide-preloader{
    z-index: -999;
    visibility: hidden;
  }