@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@500;600;700;800;900&display=swap');

@font-face {
  font-family: hirosh;
  src: url("japan-version-font/JapanVersion-1GpZB.ttf");
}

* {
  margin: 0;
  padding: 0;
}
body {
  overflow-x: hidden;
}
canvas {
  position: absolute;
  top: 0;
  z-index: -2;
}
.Sparkz{
  letter-spacing: 2px;
  font-size: 60px;
  font-weight: 700;
  color: rgb(255, 255, 255);
  /* text-shadow: 0 0 10px #fff,
               0 0 20px  #e321219d,
               0 0 30px  #ec0101; */
  
}

#hirosh {
  font-family: orbitron;
  font-weight: 900;
}
